.obsidian
graphgrc
bin/add-backlink-sections
bin/generate-backlinks
bin/validate-links
data/*.json
data/scf.xlsx

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/*.tfvars