# SCF - CFG-02.2 - Automated Central Management & Verification
Automated mechanisms exist to govern and report on baseline configurations of the systems. 
## Framework Mappings
### NIST 800-53
- [CM-2(2)](../nist80053/cm-2-2.md)
### SOC 2
- [CC8.1](../soc2/cc81.md)
## Control Questions
Does the organization use automated mechanisms to govern and report on baseline configurations of the systems? 