# SCF - IAC-28.3 - Identity Evidence Validation & Verification
Mechanisms exist to require that the presented identity evidence be validated and verified through organizational-defined methods of validation and verification.
## Framework Mappings
### NIST 800-53
- [IA-12(3)](../nist80053/ia-12-3.md)
## Control Questions
Does the organization require that the presented identity evidence be validated and verified through organizational-defined methods of validation and verification?